@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

#nebula {
    font-size: 300px; /* tamaño original */
}

@media (max-width: 768px) {
    #nebula {
        font-size: 80px; /* tamaño responsivo para pantallas más pequeñas */
    }
}

#drift {
    font-size: 240px; /* tamaño original */
}

@media (max-width: 768px) {
    #drift {
        font-size: 70px; /* tamaño responsivo para pantallas más pequeñas */
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}
